body {
    font-family: Arial, sans-serif;
}

a {
    cursor: pointer;
}
.head {
    display: flex;
    flex-wrap: wrap;
    background-color: #191818;
    align-items: center;
    justify-content: space-between;
    
}

.left a, .right a {
    cursor: pointer;
    background-color: #F5DF4D;
    color: black;
    text-decoration: none;
    border: 3px solid #F5DF4D;
    border-radius: 30px;
    font-weight: bold;
}

.left a:hover, .right a:hover {
    background-color: #FF7373;
    border: 3px solid #FF7373;
    border-radius: 30px;
    color: white;
}

.left, .right{
    flex-basis: 35%;
    flex-grow: 0;
}

.left a, .right a {
    margin: 0% 3% 0% 3%;
    padding: 2%;
}


.logo{
    margin-left: 7%;
    flex-basis: 23%;
    flex-grow: 0;
}

.logo {
    padding: 2% 5% 2% 5%;
}


.logo img {
    width: 50%;
    height: 50%;
}

.right img {
    width: 10%;
    height: 10%;
}


.info {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.info div {
    flex-basis: 50%;
    flex-grow: 0;
    text-align: center;
}

.info h1 {
    margin: 10% 30% 5% 30%;
    font-weight: bold;
}

.info h1:hover {
    animation: rotateText 2s linear infinite;
    color: #FF7373;
}

@keyframes rotateText {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.info h2:hover {
    color: #FF7373;
    transition: color 0.3s ease;
}

.info h2 {
    margin: 5% 10% 5% 10%;
    
}


.info img {
    width: 50%;
    height: 50%;
}


/* PARTIE PROGRAMME  */



.journee {
    padding: 5% 10% 3% 10%;
}

.journee h2, .journee h3, .journee h5{
    text-align: center;
    padding: 0% 3% 0% 3%;
} 

.journee > h2 {
    padding-bottom: 3%;
}

.journee img {
    flex-basis: 35%;
    /* margin: 2%; */
}

.programme > h4 {
    text-align: center;
    padding-bottom: 1%;
}

.voir-plus {
    cursor: pointer;
    margin: 0% 0% 5% 45%;
    display: inline-block;
    padding: 1%;
    background-color: #FF7373;
    color: white;
    text-decoration: none;
    border: 5px solid #FF7373;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.voir-plus:hover {
    background-color: white;
    color: black;
}


.concert{
    border: 25px solid #FFB1AA;
    border-radius: 30px; 
    display: flex;
    flex-wrap: nowrap;
}

.concert h5{
    padding: 1%;
}

.concert div{
    padding-top: 5%;
    flex-basis: 65%;
    flex-grow:1;
}


/* PARTIE BILLETTERIE */


.block h4, .info-billet h3, .info-billet h4, .info-billet a{
    text-align: center;
}

.info-billet, .billetterie {
    display: flex;
    flex-wrap: wrap;
}

.billet img {
    margin: 5% 0% 5% 15%;
    width: 75%;
}

.info-billet {
    border-top: 1px solid black;
    margin: 0% 10% 5% 10%;
}
.info-billet h3 {
    margin-top: 5%;
    flex-basis: 90%;
    flex-grow: 1;
}

.info-billet a {
    margin-top: 3%;
    flex-basis: 50%;
    flex-grow: 0;
}

.info-billet h4 {
    margin-top: 3%;
    flex-basis: 50%;
    flex-grow: 0;
}


.billet{
    margin: 5%;
    flex-grow: 1;
}

.block {
    margin: 0% 5% 2% 5%;
    flex-grow: 1;
}

.block h4 {
    margin-bottom: 2%;
}

.billet {
    border: 25px solid #FFB1AA;
    border-radius: 30px;
}

.acheter {
    cursor: pointer;
    display: inline-block;
    padding: 1%;
    background-color: #FF7373;
    color: white;
    text-decoration: none;
    border: 5px solid #FF7373;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.acheter:hover {
    background-color: white;
    color: black;
}

.white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

/* Styling */
.slider {
    background: #FE4D4D;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide {
    color: white;
    font-weight: bold;
    margin-top: 1%;
    font-size: 150%;
}


