a{
    text-decoration: none;
}

button{
    padding: 2em;
    margin: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

main{
    display: flex;
    flex-wrap: nowrap;
}

main>div{
    flex-grow: 1;
}

#page{
    margin-top: 15em;
}