h1 {
    font-size: 500%;
    font-weight: bold;
    margin: 5% 0 5% 5%;
}

a {
    text-decoration: none;
    color: black;
}

.content li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5% 5% 5%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
}
.button {
    flex-basis: 90%;
    flex-grow: 1;
    margin-bottom: 5%;
    text-align: center;
}

.button a {
    cursor: pointer;
    text-decoration: none;
    color: #FF7373;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

.button a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #FF7373;
    transition: width 0.3s ease;
}

.button a:hover::after {
    width: 100%;
}

.info-billet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    margin: 0% 10% 5% 10%;
}

.billet img {
    margin: 5% 0% 5% 15%;
    width: 75%;
}

.info-billet h3 {
    margin-top: 10%;
    flex-basis: 90%;
    text-align: center;
    flex-grow: 1;
}

.info-billet a {
    flex-basis: 45%;
    flex-grow: 0;
    text-align: center;
}

.info-billet h4 {
    margin-top: 10%;
    flex-basis: 45%;
    flex-grow: 0;
    text-align: center;
}


.billet{
    margin: 5%;
    flex-grow: 1;
    border: 25px solid #FFB1AA;
    border-radius: 30px;
}

.acheter {
    cursor: pointer;
    display: inline-block;
    padding: 1%;
    background-color: #FF7373;
    color: white;
    text-decoration: none;
    border: 5px solid #FF7373;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.acheter:hover {
    background-color: white;
    color: black;
}

