
h1 {
    font-size: 500%;
    font-weight: bold;
    margin: 5% 0 5% 5%;
}

h2 {
    font-size: 300%;
    font-weight: bold;
    margin: 5% 0;
}

a {
    text-decoration: none;
    color: black;
}


.cadre {
    background-color: white;
    padding: 3%;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20% 5% 20%;
}

.cadre > div {
    margin-bottom: 5%;
}

.cadre h2, h3 {
    text-align: center;
    font-weight: bold;
}

.cadre p {
    text-align: center;
    font-weight: bold;
}

.artiste {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cadre a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: inline-block;
    text-align: center;
}
.cadre a::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.cadre a:hover::after {
    width: 100%;
}