<!doctype html>
<html lang="fr">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="icon" href="{{ url_for('static', filename='img/logo_jaune.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_jaune.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='css/accueil.css')}}">
    {% endblock %}
    <title>Festiut'O</title>
    {% endblock %}
</head>

<body>
    <header class="head">
        {% if current_user.is_authenticated %}
            
            <div class="left">
                <div>
                    <a href="{{ url_for('accueil') }}">{{ current_user.nomuser }}</a>
                </div>
                <div>
                    <a href="{{ url_for('logout') }}">
                        <span class="glyphicon glyphicon-log-out" title="Logout"></span>
                        SE DECONNECTER
                    </a>
                </div>
            </div>
        

        {% else %}

            <div class="left">
                <div>
                    <a aria-current="page" href="{{ url_for('login') }}">Se connecter</a>
                </div>
            </div>
        
                    
        {% endif %}



        <div class="logo">
            <a aria-current="page" href="{{ url_for('accueil') }}">
                <img src="{{ url_for('static', filename='img/logo_jaune.png') }}" alt="Logo">
            </a>
        </div>

        <div class="right">
            <div>
                <a aria-current="page" href="{{ url_for('billetterie') }}">BILLETTERIE</a>
            </div>
            <div>
                <a aria-current="page" href="{{ url_for('programme') }}">PROGRAMMATION</a>
            </div>
        </div>
        
        <div class="menu-burger">
            <div>
                <a aria-current="page" href="{{ url_for('burger') }}">
                    <img src="{{ url_for('static', filename='img/burger.png') }}" alt="Menu Burger">
                </a>
            </div>
            
        </div>

    </header>





    <!-- Your page content -->
    <main class="flex-shrink-0">

        <div class="info">
            <div>
                <h1>FESTIUT'O</h1>
                <h3>Un festival pas comme les autres,</h3>
                <h3>Incontournables des étudiants,</h3>
                <h3>À l’université d’Orléans.</h3>
                <h2>Le 22, 23 et 24 MARS 2024</h2>
            </div>
            <img src="{{ url_for('static', filename='img/accueil/img2.jpeg') }}" alt="image du festival">
            
        </div>

        <div class ="programme">
            <div class="bandeau programme">
                <div class="slider">
                    <div class="slide-track">
                        <div class="slide">
                            <p>PROGRAMME - PROGRAMME - PROGRAMME - PROGRAMME - PROGRAMME - PROGRAMME -</p>
                        </div>
                        <div class="slide">
                            <p>PROGRAMME - PROGRAMME - PROGRAMME - PROGRAMME - PROGRAMME - PROGRAMME -</p>
                        </div>
                        <div class="slide">
                            <p>PROGRAMME - PROGRAMME - PROGRAMME - PROGRAMME - PROGRAMME - PROGRAMME -</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="journee">
                <h2>{{concert.jour}}</h2>
                <div class="concert">
                    <img src="{{ url_for('static', filename='img/artistes/daft_punk.jpeg') }}" class="d-block w-100" alt="daft punk">
                    <div class="Info">
                        <h3>{{concert.noml}}</h3>
                        <h5> {{concert.datedebutc}}</h5>
                        {% for groupe in concert.get_groupe_concert() %}
                            <a href="{{url_for('details_groupe', id=groupe.idgroupe)}}">{{ groupe.nomgroupe }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <h4>Pour accéder à la programation :</h4>

            <a class="voir-plus" href="{{ url_for('programme') }}">CLIQUER ICI</a>
        </div>


        <div>
            <div class="bandeau billetterie">
                <div class="slider">
                    <div class="slide-track">
                        <div class="slide">
                            <p>BILLETERIE - BILLETERIE - BILLETERIE - BILLETERIE - BILLETERIE - </p>
                        </div>
                        <div class="slide">
                            <p>BILLETERIE - BILLETERIE - BILLETERIE - BILLETERIE - BILLETERIE - </p>
                        </div>
                        <div class="slide">
                            <p>BILLETERIE - BILLETERIE - BILLETERIE - BILLETERIE - BILLETERIE - </p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="billetterie">
                    {% for b in billets %}
                    <div class="billet">
                        <img src="{{ url_for('static', filename='img/accueil/billet.png') }}" alt="billet">
                        <div class="info-billet">
                            <h3>{{ b.descbillet }}</h3>
                            <h4>{{ b.prixbillet }}</h4>
                            <a class="acheter" href="{{ url_for('billetterie') }}">ACHETER</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
    
                <div class="block">
                    <h4>Pour accéder à la billetterie : </h4>
                    <a class="voir-plus" href="{{ url_for('billetterie') }}">CLIQUER ICI</a>
                </div>
            </div>
        </div>
        
    </main>


    <footer class="footer">
        <div class="logo-footer">
            <img src="{{ url_for('static', filename='img/logo_jaune.png') }}" alt="Logo"> 
        </div>
        <section class="footer-right">
            <section class="section-nav">
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="{{ url_for('accueil') }}">ACCUEIL</a>
                        </li>
                        <li>
                            <a href="{{ url_for('accueil') }}">MON PROFIL</a>
                        </li>
                        <li>
                            <a href="{{ url_for('programme') }}">PROGRAMMATION</a>
                        </li>
                        <li>
                            <a href="{{ url_for('billetterie') }}">BILLETTERIE</a>
                        </li>
                        <li>
                            <a href="{{ url_for('groupes') }}">LES GROUPES</a>
                        </li>
                        <li>
                            <a href="{{ url_for('accueil') }}">LE FESTIVAL</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="aside">
                <div class="social">
                    <div>
                        <a href="https://open.spotify.com/intl-fr">
                            <img src="{{ url_for('static', filename='img/reseaux/spotify.png') }}" alt="Logo Spotify">
                        </a>
                    </div>
                    <div>
                        <a class="img_milieu" href="https://instagram.com">
                            <img src="{{ url_for('static', filename='img/reseaux/instagram.webp') }}" alt="Logo Instagram">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.tiktok.com">
                            <img src="{{ url_for('static', filename='img/reseaux/tiktok.webp') }}" alt="Logo Tiktok">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.x.com">
                            <img src="{{ url_for('static', filename='img/reseaux/x.webp') }}" alt="Logo x">
                        </a>
                    </div>
                    <div>
                        <a class="img_milieu" href="https://www.youtube.com">
                            <img src="{{ url_for('static', filename='img/reseaux/youtube.png') }}" alt="Logo Youtube">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com">
                            <img src="{{ url_for('static', filename='img/reseaux/facebook.png') }}" alt="Logo Facebook">
                        </a>
                    </div>
                </div>
                
            </section>
        </section>
        
    </footer>
</body>
</html>
