<h1>ADMIN</h1>
<a href="{{ url_for('logout') }}"><button>Déconnexion</button></a>

<a href="{{ url_for('ajout_billet')}}"> ajout billet</a>

<a href="{{ url_for('ajout_utilisateur')}}"> ajout utilisateur</a>

<a href="{{ url_for('ajout_concert')}}"> ajout concert</a>

<a href="{{ url_for('ajout_artiste')}}"> ajout artiste</a>

<a href="{{ url_for('ajout_groupe')}}"> ajout groupe</a>

<a href="{{ url_for('ajout_lieu')}}"> ajout lieu</a>

<a href="{{ url_for('ajout_activite_annexe')}}"> ajout activite annexe</a>
