<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Fest'IUTO</title>
    {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
      {% endblock %}
    </header>
    <main class="flex-shrink-0">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <footer>
      <p>Groupe BLM 2023-2024</p>
    </footer>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
