{% extends 'base.html' %}
{% block styles %}
{{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/profil.css') }}">
{% endblock %}
{% block content %}

<a href="{{ url_for('groupes') }}">
    <h1>LES GROUPES</h1>
</a>
<div class="container-content">

    <form method="post" action="{{ url_for('groupes') }}" id="styleForm">
        {{ form.hidden_tag() }}
        {{ form.choix_style_musical.label }} {{ form.choix_style_musical }}
        {{ form.recherche_groupe.label }} {{ form.recherche_groupe }}
        <input type="submit" value="Filtrer">
    </form>

    <div class="DivProfil">
        {% for groupe in groupes %}
        <div class ="Info">
            <p>{{ groupe.nomgroupe }}</p>
            <p>{{ groupe.description }}</p>
            <p>{{ groupe.stylemusical }}</p>
            <p>{{ groupe.lienvideo }}</p>
            <a href="{{url_for('details_groupe', id=groupe.idgroupe)}}">Voir plus sur le groupe</a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}