{% extends 'base.html' %}
{% block styles %}
{{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
{% endblock %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<form method="post" action="{{ url_for('groupes') }}" id="styleForm">
    {{ form.hidden_tag() }}
    {{ form.choix_style_musical.label }} {{ form.choix_style_musical }}
    {{ form.recherche_groupe.label }} {{ form.recherche_groupe }}
    <input type="submit" value="Filtrer">
</form>

<h1>Groupes</h1>

<ul id="listeGroupes">
    {% for groupe in groupes %}
        <p>{{ groupe.nomgroupe }}</p>
        <p>{{ groupe.stylemusical }}</p>
    {% endfor %}
</ul>

{% endblock %}