{% extends 'base.html' %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
        <h2>UTILISATEURS</h2>
        {% for spec in spectateurs %}
        <p>{{ spec.nomuser }}</p>
        {% endfor %}
        <h2>ARTISTES</h2>
        {% for art in artistes %}
        <p>{{ art.prenomartiste }} {{ art.nomartiste }}</p>
        {% endfor %}
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}