<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    {% endblock %}
    <title>Login - Festiut'O</title>
    {% endblock %}
</head>
<body>

    <div class="connexion">
        <div class="logo">
            <a aria-current="page" href="{{ url_for('accueil') }}">
                <img src="{{ url_for('static', filename='img/logo_rose.png') }}" alt="Logo">
            </a>
        </div>
        <h1>Connexion</h1>
        <form class="form-horizontal" role="form" method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="email">{{ form.email.label }}</label>
                {{ form.email(size=50, class_="form-control", placeholder="") }}
            </div>
            <div class="form-group">
                <label for="mdp">{{ form.mdp.label }}</label>
                {{ form.mdp(size=50, class_="form-control", placeholder="") }}
            </div><button id="Connexion" type="submit" class="button" name="submit_button" value="connexion">Se connecter</button>
        </form>
        <p>Pas encore de compte ? <a href="{{ url_for('inscription') }}">S'inscrire</a></p>
    </div>
</body>
</html>
