<h1>ADMIN ajout utilisateur</h1>

<a href="{{ url_for('logout') }}"><button>Déconnexion</button></a>

<a href="{{ url_for('admin_home')}}"> page admin</a>

<table>
    <tr>
        <th>Nom</th>
        <th>Date de Naissance</th>
        <th>Email</th>
        <th>Mot de Passe</th>
        <th>Admin</th>
    <tr>
    {% for u in utilisateurs %}
    <tr>
        <td>{{ u.nomuser }}</td>
        <td>{{ u.ddn }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.mdp }}</td>
        <td>{{ u.admin }}</td>
        <td><a href='{{ url_for("delete_utilisateur", iduser=u.iduser)}}' onclick="return confirm('Confirmation')">Supprimer</a><td>
    </tr>
    {% endfor %}
</table>

<form class="form-horizontal" role="form" method="POST" action="{{ url_for('save_utilisateur') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="nomuser" class="col-sm-2 control-label">{{ form.nomuser.label }}</label>
        <div class="col-sm-10">{{ form.nomuser(class_="form-control", placeholder="", id="nomuser") }}</div>
    </div>
    <div class="form-group">
        <label for="ddn" class="col-sm-2 control-label">{{ form.ddn.label }}</label>
        <div class="col-sm-10">{{ form.ddn(class_="form-control", placeholder="", id="ddn") }}</div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">{{ form.email.label }}</label>
        <div class="col-sm-10">{{ form.email(class_="form-control", placeholder="", id="email") }}</div>
    </div>
    <div class="form-group">
        <label for="mdp" class="col-sm-2 control-label">{{ form.mdp.label }}</label>
        <div class="col-sm-10">{{ form.mdp(class_="form-control", placeholder="", id="mdp") }}</div>
    </div>
    <div class="form-group">
        <label for="admin" class="col-sm-2 control-label">{{ form.admin.label }}</label>
        <div class="col-sm-10">{{ form.admin(class_="form-control", placeholder="", id="admin") }}</div>
    </div>
    <button type="submit" name="submit_button">Ajouter</button>
</form>