<h1>ADMIN ajout groupe</h1>

<a href="{{ url_for('logout') }}"><button>Déconnexion</button></a>

<a href="{{ url_for('admin_home')}}"> page admin</a>

<table>
    <tr>
        <th>Nom de Groupe</th>
        <th>Description</th>
        <th>Lien Video</th>
        <th>Style Musical</th>
        <th>Nb Membres</th>
    <tr>
    {% for gr in groupes %}
    <tr>
        <td>{{ gr.nomgroupe }}</td>
        <td>{{ gr.description }}</td>
        <td>{{ gr.lienvideo }}</td>
        <td>{{ gr.stylemusical }}</td>
        <td>{{ gr.get_artistes_groupe() | length }}</td>
        <td><a href='{{ url_for("delete_groupe", idgroupe=gr.idgroupe)}}' onclick="return confirm('Confirmation')">Supprimer</a><td>
    </tr>
    {% endfor %}
</table>

<form class="form-horizontal" role="form" method="POST" action="{{ url_for('save_groupe') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="nomgroupe" class="col-sm-2 control-label">{{ form.nomgroupe.label }}</label>
        <div class="col-sm-10">{{ form.nomgroupe(class_="form-control", placeholder="", id="nomgroupe") }}</div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">{{ form.description.label }}</label>
        <div class="col-sm-10">{{ form.description(class_="form-control", placeholder="", id="description") }}</div>
    </div>
    <div class="form-group">
        <label for="lienvideo" class="col-sm-2 control-label">{{ form.lienvideo.label }}</label>
        <div class="col-sm-10">{{ form.lienvideo(class_="form-control", placeholder="", id="lienvideo") }}</div>
    </div>
    <div class="form-group">
        <label for="stylemusical" class="col-sm-2 control-label">{{ form.stylemusical.label }}</label>
        <div class="col-sm-10">{{ form.stylemusical(class_="form-control", placeholder="", id="stylemusical") }}</div>
    </div>
    <button type="submit" name="submit_button">Ajouter</button>
</form>
{% for mesg in get_flashed_messages() %}
    <dialog open>
      <p>{{ mesg }}</p>
      <form method="dialog" id="form-dialog">
        <button>OK</button>
      </form>
    </dialog>
{% endfor %}