<a href="{{ url_for('billetterie') }}">
    <h1>BILLETTERIE</h1>
</a>

<ul class="content">
{% for billet in billets %}
    <li>
        <div class="billet">
            <img src="{{ url_for('static', filename='img/accueil/billet.png') }}" alt="billet">
            <div class="info-billet">
                <h3>{{ billet.descbillet }}</h3>
                <h4>{{ billet.prixbillet }} €</h4>
                <a class="acheter" href="{{ url_for('billetterie')  ~ billet.typebillet }}">ACHETER</a>
            </div>
        </div>
    </li>
{% endfor %}
</ul>

